@basic-font: 16px;
@font-family: 'Open Sans', sans-serif;
@special-font: 'Bitter', serif;
@text-color: #111111;
@super-light-text: #ccc;
@light-text: #969696;
@grey-text: #363636;
@link: #0aaf5f;
@light-link: #00b550;
@input-border: #e1e1e1;
@grey-fon: #f3f3f3;
@almost-white: #f6f6f6;
@grey: #d7d7d7;
@light-grey: #ebebeb;
@green: #0aaf5f;
@lime: #8dc63f;
@orange: #f1592a;
@blue: #00aeef;
@lime: #8dc63f;
@brown: #9c867a;
@yellow: #e1c211;
@white: #FFF;
@notebook: ~"(max-height: 800px)";
@mobile: ~"(max-width: 768px)";
@tablet: ~"(min-width: 768px) and (max-width: 992px)";
@mobile_tablet: ~"(max-width: 992px)";
@small-font: 12px;



body { background: @grey-fon; font-family: @font-family; font-size: @basic-font; font-weight: 400; color: @text-color;}
h1,h2,h3,h4,h6,h6,p,ul,li {margin: 0; padding:0px; }
a, a:hover { color: inherit;}

.somit-header{
	background: white;
	& .upper-header{
		border-bottom: 1px solid @almost-white;
		height: 53px;
		padding-top: 15px;
	}
	& .top-logo{
		display: block;		
		margin: 14px auto;
		@media @tablet{
			& img{
				width: 100%;
			}
		}
		@media @mobile{
			max-width: 170px;
			text-align: center;
			& img{
				width: 100%;
			}
		}
	}
	& .city-filter{
		cursor: pointer;
		font-size: 14px;
		float: left;
		position: relative;
		text-transform: uppercase;
		width: 105px;
		z-index: 300;
		& .name{
			display: inline-block;
			line-height: 20px;
			padding-left: 4px;
			vertical-align: middle;
			width: 84px;
		}
		& .weather-menu{
			background: url(../img/bg-weather-menu.png) no-repeat;
			display: inline-block;
			height: 10px;
			margin-right: 2px;
			width: 12px;
		}
		& .city-list{
			background: #FFF;
			display: none;
			position: absolute;
			width: 105px;
			& ul {
				box-shadow: 0px 0px 1px 0px #CCC;
			}
			& ul li{
				list-style: none;
				font-size: @small-font;
				padding: 2px 4px;
				&:hover{
					background: lighten(@super-light-text, 10%);
				}
			}
		}
	}
	& .weather{
		margin-left: 105px;
		width:  100px;
		white-space: nowrap;
		& .weather-icon{
			display: inline-block;
			margin-top: -10px;
			height: 40px;
			width: 40px;
			& img{
				width: 100%;
			}
		}
		& .weather-temp{
			display: inline-block;
			font-size: 14px;
			white-space: nowrap; 
			& .weather-zero{
				font-size: 12px;
				vertical-align: super;
			}
		}
	}
		
	
	& .bottom-header{
		clear: both;   
		margin-top: 8px;
		& .search-block{
			border-left: 1px solid @almost-white;
			float: right;
			margin-top: 20px;
			padding-left: 17px;
			padding-top: 1px;
			@media @mobile_tablet{
				margin-top: 5px;
			}
			& .icon{				
				cursor: pointer;
			}
		}
		& .menu{
			min-height: 45px;
			padding-top: 22px;
			@media @mobile_tablet{
				padding-top: 0;
			}			
			& ul{
				& li{
					color: @text-color;
					font-size: 15px;
					font-weight: 600;				
					text-transform: uppercase;
					&.active-trial:nth-child(1) { color: @orange;}
					&.active-trial:nth-child(2) { color: @blue;}
					&.active-trial:nth-child(3) { color: @lime;}
					&.active-trial:nth-child(4) { color: @brown;}
					&.active-trial:nth-child(5) { color: @yellow;}
					&.active-trial:nth-child(6) { color: @text-color;}
					@media @mobile_tablet{
						font-size: 13px;
					}
					& a{
						padding: 4px 10px;						
						@media @mobile_tablet{
							padding: 4px 10px;
						}
						&:hover, &.hover{
							color: @grey-text;
							text-decoration: none;
						}
					}					
				}
			}
		}
	}
}
& .soc-block{
	overflow: hidden;  
  .somit-header &{
  	float: right;
  	padding-top: 5px;
  }
  .somit-footer &{
  	padding-top: 16px;
  }
  & .title{
  	font-size: @small-font;
  	font-weight: 600;
  	margin-bottom: 20px;
  	text-transform: uppercase;
  }
	& a{
		background-image: url(../img/bg-social.png);
		background-repeat: no-repeat;
		display: block;
		height: 26px;
		float: left;
		margin-left: 1px;
		margin-bottom: 2px;
		width: 26px;
		&.vk{ background-position: 3px 0;}
		&.fb{ background-position: -27px 0;}
		&.tw{ background-position: -57px 0;}
		&.gp{ background-position: -85px 0;}	
		&.ig{ background-position: -113px 0;}
		&:hover{
			background-image: url(../img/bg-social-off.png);
		}
	}
}
.block-simplenews{
	margin-top: 30px;
	& .title{
		font-size: 24px;
	}
	& .description{
		color: @light-text;
		margin: 15px 0;
	}
	& .form-item{
		float: left;
		width: 80%;
		& input{
			border: 1px solid @super-light-text;
			font-size: 14px;
			height: 36px;
			padding: 6px 10px;
			width: 100%;
		}
	}
	& .form-submit{
		background: url(../img/bg-subscribe.png) no-repeat center @grey-text;
		border: none;
		height: 36px;
		width: 20%;
	}
}
.somit-footer{
	color: @grey-text;
	font-size: @small-font;
	font-weight: 300;
	& .container{
		background: white;
		margin-top: 7px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	& .bottom-logo{
		padding-bottom: 25px;
		display: block;
    margin: 0 auto;
    @media @mobile{
    	max-width: 172px;
    	text-align: center;
    }
	}
	& .menu{
		overflow: hidden;
		padding-top: 16px;
		& ul{
			& li{
				font-size: 12px;
				font-weight: 600;
				margin-right: 15px;					
				text-transform: uppercase;
				& a{					
					color: @text-color;					
					&:hover{
						text-decoration: underline;
					}
				}				
			}
		}
	}
	& .bottom-descr{
		padding-bottom: 20px;
	}
	& .bottom-text{		
		margin-top: 84px;
		@media @mobile_tablet{
			margin-top: 20px;
			text-align: right;
		}
	}
	& .copyright{
		font-size: 13px;
		padding-top: 32px;
	}	
}
.align-center{
	text-align: center;
}
.border-line{
	background: @grey;
	height: 1px;
}
.title-head{	
	font-family: @special-font;
	font-size: 28px;
	font-weight: normal;
	margin: 20px 0;	
	&.bordered{
		border-bottom: 1px solid @grey;
		padding: 0 0 20px 0;
	}
}
.white-container{
	background: @white;
}
.owl-carousel{
	position: relative;
	& .owl-controls{
		position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -70px;
		text-align: center;
		& .owl-dot {
	    display: inline-block;
			& span {
		    border: 1px solid black;	    
		    border-radius: 50%;
		    display: block;
		    height: 9px;
		    margin: 7px 7px 8px;
		    width: 9px;
		  }
		  &.active{
		  	& span{
					background: black;
		  	}
		  }
		}
	}
	&.white-dots{
		& .owl-dot {
			& span{
				border: 1px solid white;				
			}
			&.active{
				& span{
					background: white;
				}
			}
		} 
	}
}
.article-text{
	&--center{
		text-align: center;
	}
	&--left{
		text-align: left;
	}
	&--right{
		text-align: right;
	}
}
.articles{
	&--index{

	}
}
.article-item{
	position: relative;
	&--index{
		background: none !important;
		text-align: left !important;
		padding: 0 !important;
		overflow: hidden;	
		height: 535px;
		max-width: 100%;
		@media @tablet{
			height: 350px;
		}
		@media @mobile {
			height: 250px;
		}
		& .article-photo{
			width: 1920px;
	    position: absolute;
	    left: 50%;
	    top: 0;
	    margin-left: -960px;
	    z-index: 2;
	    @media @tablet{
				top: -30%;
			}
			@media @mobile {
				top: -50%;
			}
			& img{
				display: block;
				margin: 0 auto;
			}
		}
		& .article-text{			
			color: @white;
			padding: 15px 30px;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}
		& .article-title{
			& a{
				&:hover, &:active{					
					text-decoration: none;
				}
			}
			& .big{
				border-bottom: 1px solid transparent;
				display: inline-block;
				font-size: 60px;
				line-height: 1.2;
				&:hover{
					border-bottom: 1px solid @white;
				}
				@media @tablet{
					font-size: 40px;
				}
				@media @mobile{
					font-size: 24px;
				}
			}
			& .small{
				font-size: 22px;
				font-family: @font-family;
				@media @mobile{
					font-size: 18px;
				}
			}
		}
		& .stat .count{
			color: @white;
		}
	}
	& .article-title{
		font-family: @special-font;	
	}
	&--into-photo{
		margin-top: 10px;
		margin-bottom: 30px;
		@media @mobile_tablet{
			margin-bottom: 20px;
		}
		@media @mobile{
			max-width: 500px;
		}
		& .article-photo{
			& a{
				display: block;
				position: relative;
				&:after {
				  content: '';
				  position: absolute; 
				  top: 0px; right: 0; left: 0;
				  opacity: 1;
				  height: 100%;
				  width: 100%;
				  background: rgba(0,0,0,0.4);
				  pointer-events: none;
				  transition: all 0.5s ease-in-out;
				}
			}		
		}
		& .article-text{
			bottom: 0;
			color: @white;
			padding: 20px 35px;
			position: absolute;
		}
		& .article-title{
			font-size: 30px;
			line-height: 1.1;
    	margin: 10px 0;
    	@media @mobile_tablet{
				font-size: 18px;
			}
		}
		& .article-descr{
			font-size: 16px;
			@media @mobile_tablet{
				font-size: 16px;
			}
		}
		& .article-stat{
			& .stat{
				color: @white;
				& .icon-views{
					background-position: -46px -144px;
				}
			}
		}
	}
	&--basic{
		border-bottom: 1px solid @grey;
		height: 420px;
		padding-bottom: 25px;
		margin-bottom: 30px;
		@media @mobile_tablet{
			margin-bottom: 20px;
		}
		@media @mobile{
			min-height: 200px;
			height: auto;
		}
		@media @tablet{
			height: 370px;
		}
		& .article-title{
			font-size: 18px;
			line-height: 1.1;
    	margin: 10px 0;
		}
		& .article-descr{
			font-size: 14px;
			line-height: 1.3;
			margin-top: 10px;
		}
		& .article-photo{
			margin-bottom: 10px;
			@media @mobile{
				float: left;
				width: 40%;
			}
		}
		& .article-text{
			@media @mobile{
				float: left;
				margin-left: 3%;
				width: 57%;
			}
		}		
	}	
	&--special{				
		text-align: center;
		& .article-text{
			bottom: 40px;
			@media @mobile_tablet{
				bottom: 0px;
			}
		}
	}
	&--affiche{
		& .article-text{
			bottom: 20px;
			color: @white;
			padding: 20px 35px;
			position: absolute;
			max-width: 500px;
			@media @mobile_tablet{
				bottom: 0px;
			}
		}
		& .article-title{
			border-bottom: 1px solid @grey;			
			margin: 10px 0;
			padding-bottom: 10px;
			& a{
				&:hover, &:active{					
					text-decoration: none;
				}
			}
			& .big{
				border-bottom: 1px solid transparent;
				display: inline-block;
				font-size: 45px;
				line-height: 1.2;				
				@media @tablet{
					font-size: 30px;
				}
				@media @mobile{
					font-size: 24px;
				}
			}
			& .small{
				font-size: 35px;
				font-family: @font-family;
				font-weight: 300;
				line-height: 1.2;
				@media @mobile{
					font-size: 18px;
				}
			}
		}
		& .article-descr{
			font-size: 16px;
			@media @mobile_tablet{
				font-size: 14px;
			}
		}
		& .article-stat{
			& .stat{
				color: @white;
				& .icon-views{
					background-position: -46px -144px;
				}
			}
		}
	}
	&--photoreview{
		margin-bottom: 10px;
		& .article-photo{
			margin-bottom: 20px;			
			& a{
				display: block;
				position: relative;
				&:after {
				  content: '';
				  position: absolute; 
				  top: 0px; right: 0; left: 0;
				  opacity: 1;
				  height: 100%;
				  width: 100%;
				  background: rgba(0,0,0,0.4);
				  pointer-events: none;
				  transition: all 0.5s ease-in-out;
				}				
				& img{
					margin: 0 auto;
				}				
			}			
		}
		& .article-text{
			top: 0;
			color: @white;
			padding: 10px;
			position: absolute;
			width: 100%;
		}
		& .article-title{
			font-size: 30px;
			line-height: 1.1;
    	margin: 10px 0;
    	@media @mobile_tablet{
				font-size: 18px;
			}
		}
		& .article-descr{
			padding: 0 10px;
			height: 88px;
			overflow: hidden;
		}
	}
	&--recipe{
		& .article-title{
			font-size: 25px;
			line-height: 1.2;
		}
		& .article-subtitle{
			font-size: 18px;
			line-height: 1.2;
		}
	}
	&--top{
		background: @light-grey;
		padding: 10px;
		overflow: hidden;
		margin-bottom: 30px;
		& .article-photo{
			overflow: hidden;
			position: relative;
			& .icon{
				position: absolute;
				top: 0;
				left: 10px;
			}
		}
		& .article-text{
			padding-right: 10px;
		}
		& .article-title{
			font-size: 20px;
			line-height: 1.3;
		}
		& .article-descr{
			color: @light-text;
			font-size: 14px;
			line-height: 1.3;
			margin: 10px 0;
		}		
		& .article-share{
			background: url(../img/article-share.png) no-repeat;
			height: 20px;
			margin: 10px 0;
		}
	}
	&--detail{
		background: @light-grey;
		overflow: hidden;
		margin-bottom: 20px;
		& .article-text{
			color: @light-text;
			padding: 20px 20px 20px 0;
		}
	}
	&--horizontal{
		overflow: hidden;
		margin-bottom: 30px;
		& .article-photo{
			@media @mobile{
				margin: 0 auto 10px;
			}
		}
		& .article-title{
			font-size: 18px;
			line-height: 1.3;
			margin-right: 110px;
		}
		& .article-descr{
			color: @light-text;
			font-size: 14px;
			line-height: 1.3;
			margin: 10px 0;
		}	
		& .article-stat{
			float: right;
			margin: 0;
		}
		& .article-contacts{
			border-top: 1px solid @light-grey;
			margin-top: 15px;
			overflow: hidden;
			padding-top: 10px;			
		}
	}
	&--small{
		border-bottom: 1px solid @grey;
		padding-bottom: 15px;
		margin-bottom: 30px;	
		@media @mobile{
			min-height: 250px
		}	
		& .article-photo{
			margin-bottom: 10px;
			@media @mobile{
				float: left;
				width: 40%;
			}
		}
		& .article-title{			
			font-size: 18px;
			height: 50px;
			margin: 10px 0;
			overflow: hidden;
		}
		& .article-descr{
			font-size: 14px;
			height: 60px;
			overflow: hidden;
		}
		& .article-stat{
			margin-top: 5px;
		}		
		& .article-text{
			@media @mobile{
				float: left;
				margin-left: 3%;
				width: 57%;
			}
		}		
	}
	&--clipped{
		height: 280px;
	}
	& .article-photo--circle{
		border-radius: 50%;
		height: 150px;
		margin: 10px auto; 
		overflow: hidden;
		width: 150px;
		& img{			
			max-height: 100%;
		}
	}
}
.article-contacts{
	font-size: 14px;
	line-height: 1.2;
	& .tble{
		display: table;
		margin-bottom: 15px;
	}
	& .trow{
		display: table-row;
		min-height: 30px;
		vertical-align: middle;
		& .icon{
		display: table-cell;
		}
		& .text{
			display: table-cell;
		}
	}
	& .item{
		min-height: 30px;
		margin-bottom: 15px;
		& .icon{
			float: left;
			&-place{
				margin-top: -4px;
			}
		}
		& .text{
			display: block;
			margin-left: 30px;
			padding-left: 0;
		}
	}
	& .icon{
		vertical-align: middle;
	}
	& .text{
		padding-left: 10px;
		vertical-align: middle;
		& b{
			text-transform: uppercase;
		}
	}	
}	
.article-date{
	font-family: @special-font;
	font-style: italic;
	&.article-date--big{
		font-size: 24px;
		@media @mobile_tablet{
			font-size: 14px;
		}
	}
} 
.article-stat{
	overflow: hidden;
	margin: 10px 0 0 0;
	& .stat{
		color: @grey-text;
		//float: left;
		font-size: 12px;
		margin-right: 10px;
		& .count{
			margin-left: 3px;
			vertical-align: top;
		}
	}
}
.article-type{
	display: inline-block;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	&--culture { color: @orange;}
	&--cuisine { color: @lime;}
	&--entertainment { color: @blue;}
	&--special { background: @white; font-weight: 600; color: @text-color; padding: 6px 14px; }
}
.article-icon {
	background-image: url(../img/bg-photoreview.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 46px;
	margin: 10px auto;
	width: 44px;	
	vertical-align: middle;
	&--culture { background-color: @orange;}
	&--cuisine { background-color: @lime;}
	&--entertainment { background-color: @blue;}
	@media @tablet{
		display: none;
	}
}
.city-selector{
	margin: 10px auto 20px auto;
	position: relative;
	width: 270px;
	& .city-list{
		color: @light-text;
		font-size: 18px;
		font-family: @special-font;
		text-align: center;
		& .city{
			display: none;
			&.current{
				display: block;
			}
		}
	}
	& .arrow{
		background-image: url(../img/bg-switcher.png);
		background-repeat: no-repeat;
		cursor: pointer;
		height: 20px;
		position: absolute;
		width: 20px;
		&-left{
			background-position: left center;
			left: 0;
		}
		&-right{
			background-position: right center;
			right: 0;
		}
	}
}
.city-places{
	display: none;
	&.current{
		display: block;
	}
}
.article-category{
	color: @light-text;
	font-size: 14px;
	margin-top: 10px;
}
.articles-block{
	margin-bottom: 20px;
	&--small{
		& .article-list{
			background: @grey-fon;
			padding: 20px;
		}
		& .header{
			background: @light-grey;
			font-size: 14px;
			font-weight: 600;
			padding: 10px 0;
			text-align: center;
			text-transform: uppercase;
		}
	}
	&--normal{
		& .header{
			color: @light-text;
			font-weight: 600;
			padding: 10px 0;
			text-transform: uppercase;
		}
	}
}
.article-content{
	& .article-announce{
		font-size: 18px;
		font-weight: 600;
		margin: 15px 0;
	}
	& .article-text{
		margin-top: 20px;
		& p{
			margin: 0 0 10px 0;
		}
	}
	& .article-share-block{
		overflow: hidden;
		& .article-stat{
			float: left;
			margin-top: 13px;
		}
		& .article-share{
			margin-left: 110px;
		}
	}
	& .article-share{
		//background: url(../img/article-share-big.png) no-repeat;
		height: 25px;
		margin: 10px 0;
	}
	&--photo{
		& .article-share-block{
			margin: -10px 0 10px 0;
		}
	}
}
.article-big-photo{
	margin-bottom: 20px;
}
.article-comment{
	background: @light-grey;
	margin: 30px 0;
	padding: 10px 15px;
	& .comment-header{
		border-bottom: 1px solid @light-text;
		padding: 5px 0;
		margin-bottom: 10px;
	}
	& .comment-enter{
		float: right;
	}
	& .comment-title{
		& .count{
			background: @lime;
			color: @white;
			display: inline-block;
			font-weight: 300;
			font-size: 18px;
			float: left;
			padding: 4px 8px;
		}
		& .title{
			color: @light-text;
			font-size: 24px;
			font-weight: 600;
			margin-left: 50px;
		}
	}
	& .comment-item{
		margin: 10px;
		overflow: hidden;
	}
	& .comment-ava{
		max-width: 90px;
		float: left;
	}
	& .comment-text{
		color: @light-text;
		margin-left: 110px;
		& .comment-name{
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		& .comment-discr{
			font-size: 14px;
			margin-bottom: 10px;
		}
		& .comment-date{
			font-size: 10px;
		}
	}
}
.article-gallery{
	margin-bottom: 20px;
}
.sidebar-block{
	margin-bottom: 20px;
}
.main-title{
	font-size: 35px;
	font-family: 'Arvo';
	line-height: 40px;
	margin: 0 0 20px 0;
}
.breadcrumbs{
	font-size: @small-font;
	margin: 5px 0 20px;
	text-transform: uppercase;
	& span{
		color: @super-light-text;
		display: inline-block;
		margin: 0 3px;
	}
	& a{
		display: inline-block;
		margin: 0 3px 0 0;
		&:nth-child(2) { color: @light-text;}
	}
	.culture &{ 
		& a:first-child{ color: @orange; font-weight: 600;}
	}
	.cuisine & {
		& a:first-child{ color: @lime; font-weight: 600;}
	}
	.entertainment & {
		& a:first-child{ color: @blue; font-weight: 600;}
	}
}
.main-filter{
	background: @almost-white;
	border: 1px solid @grey;
	border-radius: 3px;
	margin: 20px 0;
	padding: 10px 14px;
	& .filter-control{
		&--apply{
			margin-left: 14px;
			@media @mobile_tablet {
				margin-left: 0;
			}
			@media @tablet{
				text-align: right;
			}
		}
		&--reset{
			text-align: right;
		}
		@media @mobile_tablet{
			margin-bottom: 10px;
		}
	}
	& .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 100%;
	}
	& .bootstrap-select{
		position: relative;
	}
	& .btn-default:focus, & .btn-default.focus,
	& .open>.dropdown-toggle.btn-default, & .btn-default:hover {
	  	background-color: @white !important;
	  	border-color: #8c8c8c;
	}
	& .caret{ color: @grey-text !important;}
	& .butn{
		padding: 7px 14px;
	}
}
.filter-control--city{
	text-transform: uppercase;
	& button{
		text-transform: uppercase;
	}	
	.culture & {
		& .btn-default, & .btn-default:focus, & .btn-default.focus,
		& .open>.dropdown-toggle.btn-default, & .btn-default:hover { color: @orange;}
	}
	.cuisine & {
		& .btn-default, & .btn-default:focus, & .btn-default.focus,
		& .open>.dropdown-toggle.btn-default, & .btn-default:hover { color: @lime;}
	}
	.entertainment & {
		& .btn-default, & .btn-default:focus, & .btn-default.focus,
		& .open>.dropdown-toggle.btn-default, & .btn-default:hover { color: @blue;}
	}
}
.butn{
	border: none;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	padding: 5px 15px;
	text-align: center;
	&:hover{
		text-decoration: none;
	}
	&--green{
		background: @lime;
		color: @white;
		&:hover{
			background: saturate(@lime, 20%);
			color: @white;			
		}
	}
	&--grey{
		background: @grey-text;
		color: @white;
		&:hover{
			background: darken(@grey-text, 10%);
			color: @white;			
		}
	}	
}

.menu{
	ul{
		position: relative;
	}
	li{
		display: block;
		float: left;
		list-style: none;
		& ul{
			display: none;
			position: absolute;
			z-index: 200;
			& li{
				float: none;
			}
		}
	}
}
.icon{
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-arrow-left {
    width: 6px;
    height: 20px;
    background-position: -10px -10px;
}
.icon-arrow-right {
    width: 6px;
    height: 20px;
    background-position: -36px -10px;
}
.icon-comments {
    width: 16px;
    height: 16px;
    background-position: -62px -10px;
    vertical-align: bottom;
}
.icon-flag {
    width: 27px;
    height: 38px;
    background-position: -62px -43px;
}
.icon-opener {
    width: 11px;
    height: 7px;
    background-position: -98px -10px;
}
.icon-opener-open {
    width: 11px;
    height: 7px;
    background-position: -109px -37px;
}
.icon-phone {
    width: 24px;
    height: 24px;
    background-position: -140px -10px;
}
.icon-place {
    width: 21px;
    height: 27px;
    background-position: -10px -54px;
}
.icon-search {
    width: 20px;
    height: 20px;
    background-position: -140px -54px;
}
.icon-time {
    width: 26px;
    height: 30px;
    background-position: -109px -94px;
}
.icon-views {
    width: 24px;
    height: 12px;
    background-position: -10px -144px;
}
.icon-www{
	width: 26px;
	height: 26px;
	background-position: -6px -96px;
}
.icon-to-top {
    background-color: @light-grey;
    background-position: -152px -89px;
    border-radius: 3px;
    bottom: 10%;
    box-sizing: content-box;
    cursor: pointer;
    display: none;
    height: 8px;
    opacity: 0.5;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
    padding: 6px 3px;
    position: fixed;
    right: 10%;
    width: 13px;    
    &:hover {
		opacity: 1;
	}  
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/osans/opensans-light.eot");
  src: url("fonts/osans/opensans-light.eot?#iefix")format("embedded-opentype"),
  url("fonts/osans/opensans-light.woff") format("woff"),
  url("fonts/osans/opensans-light.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/osans/opensans-regular.eot");
  src: url("fonts/osans/opensans-regular.eot?#iefix")format("embedded-opentype"),
  url("fonts/osans/opensans-regular.woff") format("woff"),
  url("fonts/osans/opensans-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/osans/opensans-semibold.eot");
  src: url("fonts/osans/opensans-semibold.eot?#iefix")format("embedded-opentype"),
  url("fonts/osans/opensans-semibold.woff") format("woff"),
  url("fonts/osans/opensans-semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/osans/opensans-italic.eot");
  src: url("fonts/osans/opensans-italic.eot?#iefix")format("embedded-opentype"),
  url("fonts/osans/opensans-italic.woff") format("woff"),
  url("fonts/osans/opensans-italic.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/osans/open_sans_condensed_light.eot");
  src: url("fonts/osans/open_sans_condensed_light.eot?#iefix")format("embedded-opentype"),
  url("fonts/osans/open_sans_condensed_light.woff") format("woff"),
  url("fonts/osans/open_sans_condensed_light.ttf") format("truetype");
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/arvo/arvo-regular.eot");
  src: url("fonts/arvo/arvo-regular.eot?#iefix")format("embedded-opentype"),
  url("fonts/arvo/arvo-regular.woff") format("woff"),
  url("fonts/arvo/arvo-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/bitter/bitter-regular/BitterRegular.eot");
  src: url("fonts/bitter/bitter-regular/BitterRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/bitter/bitter-regular/BitterRegular.woff") format("woff"),
  url("fonts/bitter/bitter-regular/BitterRegular.ttf") format("truetype");
}
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  src: url("fonts/bitter/bitter-italic/BitterItalic.eot");
  src: url("fonts/bitter/bitter-italic/BitterItalic.eot?#iefix")format("embedded-opentype"),
  url("fonts/bitter/bitter-italic/BitterItalic.woff") format("woff"),
  url("fonts/bitter/bitter-italic/BitterItalic.ttf") format("truetype");
}